*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
  }
  
  .logo{
    font-family: 'Silkscreen', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding : 20px;
    transition: all .55s ease;
  }
  
  .logo:hover{
    font-size: 50px;
  }
  
  .go{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #a09036d7 0%, #6e6846 28.53%, #292521 75.52%);
    position :relative;
    display: grid;  
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
  }
  
  .section {
    padding : 0 20%;
    display: flex;
    position: fixed;
    margin: auto;
  }
  
  .gotxt h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color:white;
    margin: 0 0 5px;
    margin-left: 200px;
  }
  
  .gotxt p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 1;
    color:white;
    margin: 0 0 40px;
    margin-left: 200px;
  }
  
  .gotxt a{
    font-family: 'Silkscreen', sans-serif;
    display: inline-block;
    color: white;
    background: #d4bb4cab;
    border: 1px solid ;
    padding: 18px 20px;
    line-height: 1.4;
    font-size: 50px;
    font-weight: 500;
    border-radius: 100px;
    text-transform: uppercase;
    transition: all .55s ease;
    margin-left: 200px;
  }
  
  .gotxt a:hover{
    background : #e97d35;
    transform: translatex(5px) translateY(5px);
  }
  
  .gotxt .ig{
    font-size: 40px;
    border: none;
    padding: 0;
    background: none;
    margin: 0;
    display: flex;
    position: absolute;
    top: 20px; 
    left: 100px;
    z-index: 9999; 
  }
  
  .gotxt .ig:hover{
    background: none;
    font-size: 50px;
    color:#b4dadf;
  }
  
  .gotxt .git{
    font-size: 40px;
    border: none;
    padding: 0;
    background: none;
    margin: 0;
    display: flex;
    position: absolute;
    top: 70px; 
    left: 100px; 
    z-index: 9999; 
  }
  
  .gotxt .git:hover{
    background: none;
    font-size: 50px;
    color:#b4dadf;
  }
  
  .goimg img{
    width: 800px;
    height: 700px;
    display: flex;
    border: 2px transparent;
    border-radius: 20px;
    transition: all .55s ease;
    margin: all 20px;
  }
  
  .goimg img:hover{
    width: 850px;
    height: 750px;
  }