@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #272727;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 30px;

}

.main-header a{
  transition : all .55s ease;
  color: gold;
}

.main-header span a{
  transition : all .55s ease;
}

.main-header a:hover::after {
  content: 'reate ';
  
}

.main-header a:hover{
  font-size: 50px;
  margin-bottom: 10px; 
  color: rgb(190, 113, 49);
}

.main-header span a:hover::after {
  content: 'ead ';
}

.main-header span a:hover{
  font-size: 50px;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 50px;
}

.back-button a {
  color: gold;
  text-decoration: none;
  transition : all .55s ease;
}

.back-button a:hover {
  color: rgb(190, 113, 49);
  font-size: 70px;
  left: 20px;
}